{% extends 'base.html.twig' %}
{% block nav_item_ajouter_entreprise %}active{% endblock %}
{% block title %}
{% if action == "ajouter" %}
Ajouter une Entreprise
{% else %}
Modifier une Entreprise
{% endif %}
{% endblock %}

{% block body %}

    {{ form_start(formulaireEntreprise) }}
    <div class="col-md text-center">
    <form>
        <div class="form-group">
            <div class="text-black mb-3">{{ form_label(formulaireEntreprise.nom) }} : {{ form_widget(formulaireEntreprise.nom) }}</div>
        </div>
        <div class="form-group">
            <div class="text-blackt mb-3">{{ form_label(formulaireEntreprise.activite) }} : {{ form_widget(formulaireEntreprise.activite) }}</div>
        </div>
        <div class="form-group">
            <div class="text-black mb-3">{{ form_label(formulaireEntreprise.adresse) }} : {{ form_widget(formulaireEntreprise.adresse) }}</div>
        </div>
        <div class="form-group">
            <div class="text-black mb-3">{{ form_label(formulaireEntreprise.siteweb) }} : {{ form_widget(formulaireEntreprise.siteweb) }}</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_rest(formulaireEntreprise) }}
    </form>
    </div>
    {{ form_end(formulaireEntreprise) }}

{% endblock %}